node_modules
dist
coverage
.env
.idea
.DS_Store
api/.dev*
api/test-data/test_ocfl
api/test-data/*.development.json
api/test-data/perf/
api/test-data/perf*
!configuration/example-configuration.json
configuration/*
