node_modules
dist
coverage
.env
.idea
.DS_Store
test-data/test_ocfl
test-data/*.development.json
test-data/perf/
test-data/perf*
cilogon-token-response.json
!configuration/default.js
!configuration/testing-configuration.json
configuration/*
